version: '3'

services:
####################
#  REDIS CONTAINER
####################
    redis:
        image: "redis:alpine"
        ports:
            - '6379:6379'
#################
#  API CONTAINER
#################
    api:
        image: samchipp/twitter:api
        expose: 
            - 3001
        ports: 
            - 3001:3001
        volumes:
            - ./express-app/src:/src/app/express-app/src
        links:         
            - redis:redis
        environment:
            - TWITTER_BEARER_TOKEN=
            - AWS_ACCESS_KEY_ID=
            - AWS_SECRET_ACCESS_KEY=

        command: npm run start

####################
#  CLIENT CONTAINER
####################
    client:
        image: samchipp/twitter:client
        expose:
            - 3000
        ports: 
            - 3000:3000
        links:         
            - api:api
        stdin_open: true
        volumes:
            - ./react-app/src:/src/app/react-app/src
            - ./react-app/public:/app/react-app/public

